{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'stats/Screenshot 2023-02-02 at 00.15.33.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">View individual player stats</h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Log In</a>
            <a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a>
          </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">View team stats</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a>
              </div>
          </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'stats/Screenshot 2023-02-02 at 00.23.23.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      
    </div>
  </div>

{% endblock %}
