{% extends 'base.html' %}

{% block content %}
  <h1>Add Player</h1>
  <form method="POST" action="{% url 'add_players' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit" value="Add Player" class="btn btn-primary">
</form>


  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
