{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Welcome to the Rugby Stats Homepage</h2>
    {% if user.is_authenticated %}
        {% if user.team %}
            <h3>Your Statistics</h3>
            {% if statistics %}
                <table class="table" id="stats">
                    <thead>
                        <tr>
                            <th>Match</th>
                            <th>Match Date</th>
                            <th>Tackles Made</th>
                            <th>Rucks Hit</th>
                            <th>Passes</th>
                            <th>Carries</th>
                            <th>Tackles Missed</th>
                            <th>Tries</th>
                            <th>Conversions</th>
                            <th>Penalties</th>
                            <th>Yellow Cards</th>
                            <th>Red Cards</th>
                            <th>Match Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for statistic in statistics %}
                            <tr>
                                <td>{{statistic.match.match_name}}</td>
                                <td>{{ statistic.match.date }}</td>
                                <td>{{ statistic.tackles_made }}</td>
                                <td>{{ statistic.rucks_hit }}</td>
                                <td>{{ statistic.passes }}</td>
                                <td>{{ statistic.carries }}</td>
                                <td>{{ statistic.tackles_missed }}</td>
                                <td>{{ statistic.tries }}</td>
                                <td>{{ statistic.conversions }}</td>
                                <td>{{ statistic.penalties }}</td>
                                <td>{{ statistic.yellow_cards }}</td>
                                <td>{{ statistic.red_cards }}</td>
                                <td><a href="{% url 'player_statistics' statistic.match.id %}">View Match Stats</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No statistics found.</p>
            {% endif %}
        {% else %}
            <p>You are not a member of a team yet.</p>
            <a href="{% url 'join' %}">Join a team</a>
        {% endif %}
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">register</a>
    {% endif %}
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<script>
    $(document).ready( function () {
        $('#stats').DataTable({
            "paging": false, 
            "lengthChange": false, 
            "searching": true
        });
  });
  </script>

{% endblock %}
