{% extends 'base.html' %}

{% block content %}
    
{% if messages %}
<div class="container">
    <ul class="messages list-unstyled">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

    {% if user.is_authenticated %}
        {% if user.team %}
        <div class="container">
            <h3>Your Statistics</h3>
            {% if statistics %}

            <div>
              <canvas id="myChart"></canvas>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>Matches Played</th>
                  <th>AVG Passes</th>
                  <th>AVG Tackles</th>
                  <th>AVG Carries</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ player_averages.matches_played }}</td>
                  <td>{{ player_averages.avg_passes }}</td>
                  <td>{{ player_averages.avg_tackles }}</td>
                  <td>{{ player_averages.avg_carries }}</td>
                </tr>
              </tbody>
            </table>

                <table class="table" id="stats">
                    <thead>
                        <tr>
                            <th>Match</th>
                            <th>Match Date</th>
                            <th>Tackles Made</th>
                            <th>Rucks Hit</th>
                            <th>Passes</th>
                            <th>Carries</th>
                            <th>Tackles Missed</th>
                            <th>Tries</th>
                            <th>Conversions</th>
                            <th>Penalties</th>
                            <th>Yellow Cards</th>
                            <th>Red Cards</th>
                            <th>Match Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for statistic in statistics %}
                            <tr>
                                <td>{{statistic.match.match_name}}</td>
                                <td>{{ statistic.match.date }}</td>
                                <td>{{ statistic.tackles_made }}</td>
                                <td>{{ statistic.rucks_hit }}</td>
                                <td>{{ statistic.passes }}</td>
                                <td>{{ statistic.carries }}</td>
                                <td>{{ statistic.tackles_missed }}</td>
                                <td>{{ statistic.tries }}</td>
                                <td>{{ statistic.conversions }}</td>
                                <td>{{ statistic.penalties }}</td>
                                <td>{{ statistic.yellow_cards }}</td>
                                <td>{{ statistic.red_cards }}</td>
                                <td><a href="{% url 'player_statistics' statistic.match.id %}">View Match Stats</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No statistics found.</p>
            {% endif %}
        {% else %}
            <p>You are not a member of a team yet.</p>
            <a href="{% url 'join' %}">Join a team</a>
        {% endif %}
    </div>
    {% else %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Discover the power of analysis</h1>
            <p class="col-lg-10 fs-4"></p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username">
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              {% if error %}
                <p>{{ error }}</p>
              {% endif %}
              <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
              <hr class="my-4">
              <small class="text-muted">Not a member yet?</small>
              <a href="{% url 'register' %}">Create an Account</a>
            </form>
          </div>
        </div>
      </div>
    {% endif %}



<script>
    $(document).ready( function () {
        $('#stats').DataTable({
            "paging": false, 
            "lengthChange": false, 
            "searching": true
        });
  });
  </script>

<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : ['AVG Passes', 'AVG Carries', 'AVG Tackles'],
          datasets: [{
            label: "Average Player Stats",
            data : [{{ player_averages.avg_passes }}, {{ player_averages.avg_carries }}, {{ player_averages.avg_tackles }}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>


{% endblock %}
