{% extends 'base.html' %}

{% block content %}
<div class="container">
{% if matches %}
  <table class="table" id="matches">
    <thead>
      <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
        <th>Score</th>
        <th>Result</th>
        <th>Stats Available</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
        <tr>
          <td>{{ match.home_team }}</td>
          <td>{{ match.away_team }}</td>
          <td>{{ match.date }}</td>
          <td class="{% if match.result == 'Win' %}text-success{% elif match.result == 'Loss' %}text-danger{% else %}text-muted{% endif %}">{{ match.home_score }} - {{ match.away_score }}</td>
          <td>{{ match.result }}</td>
          <td><a href="{% url 'player_statistics' match.id %}">View statistics</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No matches found. You can join a team using the Join Team link above.</p>
{% endif %}
</div>

<script>
  $(document).ready( function () {
      $('#matches').DataTable({
          "paging": false, 
          "lengthChange": false, 
          "searching": true
      });
});
</script>

{% endblock %}
