{% extends 'base.html' %}

{% block content %}
  
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-5 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Create an account to start your data journey</h1>
      <p class="col-lg-10 fs-4"></p>
    </div>
    <div class="col-md-10 mx-auto col-lg-7">
      <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
        {% csrf_token %}
        <div class="form-group row mb-3">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingFirstName" name="first_name" placeholder="First Name">
                    <label for="floatingFirstName">First Name</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingLastName" name="last_name" placeholder="Last Name">
                    <label for="floatingLastName">Last Name</label>
                </div>
            </div>
        </div>
    
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Username">
          <label for="floatingUsername">Username</label>
        </div>
        <div class="form-group row mb-3">
            <div class="col-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingConfirmPassword" name="password2" placeholder="Confirm Password">
                    <label for="floatingConfirmPassword">Confirm Password</label>
                </div>
            </div>
        </div>
        
        
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <hr class="my-4">
        <small class="text-muted">Already a member?</small>
        <a href="{% url 'login' %}">Log In</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
